@media only screen and (min-width: 600px) {
  #navbar { 
    width: 500px; 
    min-height: 100vh; 
    position: fixed; 
    margin-left: 20px;
    top: 0; 
    left: 0; 
    bottom: 0; 
    z-index: 11; 
    padding: 30px 0; 
    width: 300px; 
    color: #fff; 
  } 
  
  #main-doc { 
    margin-left: 300px; 
  }  
  header{
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    color: rgb(12, 58, 211);
  }
}
