@media only screen and (min-width: 600px) {
  .container-g {
    margin: 0;
    width: 100%;
  }

  #navbar {
    width: 500px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    margin-top: 0px;
    padding: 30px 0;
    width: 300px;
    color: #fff;
  }
  #main-doc {
    margin-left: 300px;
  }
}
